@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }
  

/* Nav styles */
nav{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* common styles */
.text-primary{
    color: #fd6e0a;
}
.purple-color{
    color: rgb(149, 17, 149);
}